@import url('https://fonts.googleapis.com/css?family=Kanit');
@font-face {
    font-family: 'CSChatThaiUI';
    unicode-range: U+0E00-U+0E7F;
    src: url('fonts/CSChatThaiUI.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ThaiSansLite';
    unicode-range: U+0E00-U+0E7F;
    src: url('fonts/ThaiSansLite.eot');
    src: url('fonts/ThaiSansLite.eot?#iefix') format('embedded-opentype'),
         url('fonts/ThaiSansLite.woff') format('woff'),
         url('fonts/ThaiSansLite.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'sarabun';
    unicode-range: U+0E00-U+0E7F;
    src: url('fonts/thsarabunnew-webfont.eot');
    src: url('fonts/thsarabunnew-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/thsarabunnew-webfont.woff') format('woff'),
        url('fonts/thsarabunnew-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'sarabunB';
    unicode-range: U+0E00-U+0E7F;
    src: url('fonts/thsarabunnew_bold-webfont.eot');
    src: url('fonts/thsarabunnew_bold-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/thsarabunnew_bold-webfont.woff') format('woff'),
        url('fonts/thsarabunnew_bold-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;

}

/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/montserrat-v12-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('fonts/Montserrat Regular'), local('Montserrat-Regular'),
       url('fonts/montserrat-v12-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/montserrat-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/montserrat-v12-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('fonts/montserrat-v12-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/montserrat-v12-latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-800 - latin */
@font-face {
  font-family: 'MontserratB';
  font-style: normal;
  font-weight: 800;
  src: url('fonts/montserrat-v12-latin-800.eot'); /* IE9 Compat Modes */
  src: local('fonts/Montserrat ExtraBold'), local('Montserrat-ExtraBold'),
       url('fonts/montserrat-v12-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/montserrat-v12-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/montserrat-v12-latin-800.woff') format('woff'), /* Modern Browsers */
       url('fonts/montserrat-v12-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/montserrat-v12-latin-800.svg#Montserrat') format('svg'); /* Legacy iOS */
}
@font-face {
    font-family: 'kanit-light';
    src: url('fonts/Kanit-Light.ttf');
}
@font-face {
    font-family: 'kanit-extra-light';
    src: url('fonts/Kanit-ExtraLight.ttf');
}


body { 
    font-family: 'CSChatThaiUI','Montserrat',sans-serif !important; 
}
.cschatui{
    font-family: 'CSChatThaiUI';
 }
.kanit {
    font-family: 'Kanit', sans-serif;
}
.sarabun {
    font-family: 'sarabun', sans-serif;
}
.sarabunB {
    font-family: 'sarabunB', sans-serif;
}
.Montserrat {
    font-family: 'Montserrat', sans-serif;
}
.kanit_l {
    font-family: 'kanit-light', sans-serif;
}
.kanit_xl {
    font-family: 'kanit-extra-light', sans-serif;
}
.thaisans {
    font-family: 'ThaiSansLite', sans-serif;
}

.textB {
    margin-bottom: 15px;
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 3px;
    color: #fff;
    text-shadow: 0px 2px 0px #abc,
                 0px 4px 10px rgba(0,0,0,0.15),
                 0px 5px 2px rgba(0,0,0,0.1),
                 0px 6px 30px rgba(0,0,0,0.1);
  }
  .textshadow {
    text-shadow: 4px 4px 4px #aaa;
  }

.textITA {
    font-family: 'Kanit', sans-serif;
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
    color: rgb(6, 177, 6);
    text-shadow: 0px 1px 1px #abc;
}

.textIT {
    font-family: 'Kanit', sans-serif;
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    color: teal;
    text-shadow: 0px 1px 1px rgb(100, 97, 97);
}
.text18 {
    font-family: 'Kanit', sans-serif;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    text-shadow: 0px 1px 1px rgb(100, 97, 97);
}

.nounderline {
    text-decoration: none !important
}

.text-orange{color:#ff9307!important}a.text-orange:focus,a.text-orange:hover{color:#ba6300!important}





.sticky-offset {
    top: 56px;
}

#body-row {
    margin-left:0;
    margin-right:0;
}
#sidebar-container {
    min-height: 100vh;   
    background-color: #333;
    padding: 0;
}

/* Sidebar sizes when expanded and expanded */
.sidebar-expanded {
    width: 230px;
}
.sidebar-collapsed {
    width: 60px;
}

/* Menu item*/
#sidebar-container .list-group a {
    height: 50px;
    color: rgb(75, 72, 72);
}

/* Submenu item*/
#sidebar-container .list-group .sidebar-submenu a {
    height: 45px;
    padding-left: 30px;
}
.sidebar-submenu {
    font-size: 0.9rem;
}

/* Separators */
.sidebar-separator-title {
    background-color: #333;
    height: 35px;
}
.sidebar-separator {
    background-color: #333;
    height: 25px;
}
.logo-separator {
    background-color: #333;    
    height: 60px;
}

/* Closed submenu icon */
#sidebar-container .list-group .list-group-item[aria-expanded="false"] .submenu-icon::after {
  content: " \f0d7";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 10px;
}
/* Opened submenu icon */
#sidebar-container .list-group .list-group-item[aria-expanded="true"] .submenu-icon::after {
  content: " \f0da";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 10px;
}